body{
    text-align: center;
}

img{
    width: 40%;
    height: 40%;
}

button{
    margin: 2em;
    padding: 2em;
    border-radius: 20px;
    background-color:rgb(205, 154, 0);
    border-color: brown;
    box-shadow: 5px 5px;
}

#veranderKnop{
    padding: 1em;
}

button:hover{
    cursor: pointer;
}

div{
    font-size: 4em;
    font-family: 'Impact';
}